<app-header></app-header>
<div class="main-container">
  <div class="middle-container">
    <div class="container">
      <div class="row">
        <div class="stepper">
          STEPPER
        </div>
      </div>
      <div class="row" dir="rtl">
        <div class=" inner-row">
          <div class="data-disclaimer">
            <div class="data-disclaimer_headline">
              <p>סיכום פרטי הבקשה</p>
            </div>
          </div>
        </div>
      </div>
      <app-lower-navigation class="row"
          goToPage="oen" getBack="doc-uploads" buttonData="לפרטי האירוע"
      >
      </app-lower-navigation>
    </div>
  </div>
</div>
