<app-header></app-header>
<div class="main-container">
  <div class="middle-container">
    <div class="container">
      <div class="row">
        <div class="stepper">
          STEPPER
        </div>
      </div>
      <div class="row" dir="rtl">
        <div class=" inner-row">
          <div class="data-disclaimer">
            <div class="data-disclaimer_headline">
              <p>סיכום פרטי הבקשה</p>
            </div>
            <div class="data-disclaimer_line">
              <p>חשוב לוודא שכל הפרטים נכונים</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row" >
        <div class="inner-row">
          <app-summary-expansion></app-summary-expansion>
        </div>
      </div>
      <app-lower-navigation class="row"
          buttonData="לפרטי האירוע"
          (handleGoTo)="handleGoTo($event)"
      >
      </app-lower-navigation>
    </div>
  </div>
  <app-footer></app-footer>
</div>
