.document-data {
  direction: rtl;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}
.uploadHiddenButton {
  display: none;
}

.uploadSelect {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: auto;
  align-items: baseline;
  font-size: 18px;
  height: 30px;
  margin-right: 0!important;
  img {
    margin-left: 10px;
  }
  &:hover {
    cursor: pointer;
  }
}