@import "../../../css-parts/_vars";
.header-container {
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  height: $header-height;
  margin-right: 1.875%;
  background-color: $general-background-color;
  overflow: hidden;
  .header-logo {
    display: flex;
    flex-direction: row;
    width: 366px;
    img {
      width: 100%x;
      max-width: 100%;
    }
  }
}

