@import "../../../css-parts/_vars";
.container-lt-lg {
  height: auto!important;
}
.left-part-lt-lg {
  flex: 50%;
  justify-content: flex-start!important;
}

.start-container {
  display: block;
  position:absolute;
  top:0;
  left:0;
  height: 100%;
  width: 100vw;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 69px;
  position: relative;
  top: 0!important;
  width:100vw;
  height: 100vh;
  overflow-y: auto;
  .left-part {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 50%;
    .left-part_main {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-left: 29px;
      margin-top: 46px;
      img {
        min-width: 50vw;
        max-width: 100vw;
      }
    }
  }
  .right-part {
    display: flex;
    flex-direction: row;
    height: 100%;
    flex: 50%;
    align-items: center;
    justify-content: center;
    .right-container {
      height: 100%;
      width: 450px;
      .logo {
        margin-top: 10px;
        max-width: 308px;
        width: 70%;
        margin-bottom: 39px;
        float: right;
        margin-right: 54px;
        img {
          width: 100%;
          height: 116px;
          max-width: 100%;
        }
      }
      .headline_1 {
        color: $background-color;
        margin-bottom: 20px;
        width: 100%;
        text-align: center;
        font-size: 45px;
        line-height: 26px;
        clear: both;
      }
      .disclaimer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        width: 100%;
        color: #7A7A7A;
        font-size: 21px;
        line-height: 18px;
        text-align: center;
      }
      .confidentiality {
        display: flex;
        flex-direction: row;
        justify-items: center;
        width: 100%;
        height: 183px;
        margin-top: 45px;
        .confidentiality_left, .confidentiality_right {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          height: 100%;
          width: 100%;
        }
        .confidentiality_left {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          direction: rtl;
          padding-top: 20px;
          .confidentiality_left__header {
            color: $writing-color;
            font-size: 21px;
            line-height: 0;
            height: 12px;
            font-weight: bold;
            margin-bottom: 10px;
          }
          .confidentiality_left__description  {
            width: 200px;
            height: 0;
            color: #484855;
            font-size: 18px;
          }
          .confidentiality_left__download-form {
            border: 2px solid $buttons-color;
            border-radius: 20px !important;
            text-align: right;
            margin-left: 5px !important;
            height: 46px;
            width: 187px;
            color: $buttons-color;
            font-size: 18px;
            line-height: 0;
            &:hover {
              cursor: pointer;
              background-color: $buttons-color;
              color: #f7f7f7;
            }
            .mat-button-text {
              margin-right:14px;
            }
          }
        }
        .confidentiality_right {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          img {
            width: 100%;
            max-width: 151px;
          }
        }
      }
      .start-the-form-wrapper {
        width:100%;
        display: inline-flex;
        justify-content: center;
        .start-the-form {
          border: 2px solid #FF6300;
          border-radius: 20px !important;
          height: 54px;
          width: 240px;
          color: #ffffff;
          font-size: 22px;
          line-height: 23px;
          text-align: center;
          cursor: pointer;
          background-color: #FF6300;
          margin-top: 124px;
          .mat-icon {
            color: #fff;
            margin-right:25px;
          }
        }
      }
    }
  }
}
.go-to-page {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  width: 254px;
  .data-line {
    line-height: 24px;
    align-self: flex-end;
    width: 90%;
    color: #fff;
    text-align: right;
  }
  mat-icon {
    margin-top: -5px;
    color: #ffffff;
  }
}