@import "../../../css-parts/_vars";
.container-lt-lg {
  height: auto!important;
}
.left-part-lt-lg {
  justify-content: flex-start!important;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 0!important;
  width:100vw;
  height: 86.2963vh; //100vh;
  overflow-y: scroll;
  .left-part {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 50%;
    .left-part_main {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width:100%;
      img {
        width: 100%;
        max-width: 98%;
      }
    }
  }
  .right-part {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    flex: 50%;
    align-items: center;
    .right-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      height: 100%;
      .logo {
        display: flex;
        margin-top: 10px;
        width: 308px;
        img {
          width: 100%;
          height: 116px;
          max-width: 100%;
        }
        margin-bottom: 40px;
      }
      .headline_1 {
        color: $background-color;
        height: 24px;
        width: 100%;
        text-align: center;
        font-family: erica-regular, sans-serif;
        font-size: 2rem;
        line-height: 0;
      }
      .disclamer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        width: 100%;
        height: 54px;
        color: #7A7A7A;
        font-family: erica-light, sans-serif;
        font-size: 21px;
        line-height: 37px;
        text-align: center;
      }
      .confidentiality {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 212px;
        .confidentiality_left, .confidentiality_right {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          height: 100%;
          width: 95%;
        }
        .confidentiality_left {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          direction: rtl;
          width: 53.5555%;
          .confidentiality_left__header {
            width: 200px;
            color: $writing-color;
            font-family: EricaSans, sans-serif;
            font-size: 1rem;
            line-height: 0;
            font-weight: bold;
            margin-bottom: 20px;
          }
          .confidentiality_left__description  {
            width: 95%;
            height: 40px;
            color: $writing-color;
            font-family: EricaSans, sans-serif;
            font-size: 0.9rem;
            text-align: justify;
          }
          .confidentiality_left__download-form {
            border: 2px solid $buttons-color;
            border-radius: 20px !important;
            text-align: center;
            margin-left: 5px !important;
            height: 46px;
            max-width: 187px;
            color: $buttons-color;
            font-family: erica-light, sans-serif;
            font-size: 18px;
            line-height: 0;
            &:hover {
              cursor: pointer;
              background-color: $buttons-color;
              color: #f7f7f7;
            }
          }
        }
        .confidentiality_right {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-end;
          width: 95%;
          img {
            width: 100%;
            max-width: 151px;
          }
        }
      }
      .start-the-form {
        display: flex;
        justify-content: center;
        align-items: baseline;
        border: 2px solid $buttons-color;
        border-radius: 20px !important;
        height: 54px;
        width: 240px;
        color: $white-color;
        font-family: EricaSans, sans-serif;
        font-size: 22px;
        line-height: 23px;
        text-align: center;
        cursor: pointer;
        background-color: $buttons-color;
        margin-top: 50px;
        .mat-icon {
          color: #fff;
        }
      }
    }
  }
}
.go-to-page {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  width: 254px;
  .data-line {
    line-height: 24px;
    align-self: flex-end;
    width: 90%;
    color: #fff;
    text-align: right;
  }
  mat-icon {
    margin-top: -5px;
    color: #ffffff;
  }
}