  <div class="inner-row">
    <div class="navigation-line">
      <button mat-button
        class="go-to-page "
        (click)="nextPage()"
        >
        <mat-icon>arrow_back_ios</mat-icon>
        <span class="data-line">
          {{buttonData}}
        </span>
      </button>
      <div class="click-back" dir="rtl" (click)="prevPage()">
        <mat-icon class="mat-icon-rtl-mirror">arrow_back_ios</mat-icon>
        <div class="get-back-header">
          חזור
        </div>
      </div>
    </div>
  </div>
