@font-face {
  font-family: erica-light;
  src: url("./assets/fonts/erica-sans-light.ttf")
}

@font-face {
  font-family: erica-regular;
  src: url("./assets/fonts/erica-sans-regular.ttf")
}

@font-face {
  font-family: erica-bold;
  src: url("./assets/fonts/erica-sans-bold.ttf")
}

@font-face {
  font-family: erica-light;
  src: url("./assets/fonts/erica-sans-light.eot")
}

@font-face {
  font-family: erica-regular;
  src: url("./assets/fonts/erica-sans-regular.eot")
}

@font-face {
  font-family: erica-bold;
  src: url("./assets/fonts/erica-sans-bold.eot")
}

@font-face {
  font-family: erica-light;
  src: url("./assets/fonts/erica-sans-light.woff")
}

@font-face {
  font-family: erica-regular;
  src: url("./assets/fonts/erica-sans-regular.woff")
}

@font-face {
  font-family: erica-bold;
  src: url("./assets/fonts/erica-sans-bold.woff")
}
