@import './vars';
.mat-button-toggle-group{
  align-self: flex-start!important;
}
.mat-button-toggle-label-content {
  display: flex!important;
  padding: 0!important;
  flex-direction: column;
  justify-content: flex-end;

}
.mat-button-toggle{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 131px!important;
  height: 81px!important;

}

.mat-button-toggle-checked {
  background-color: $background-color !important;
  color: white !important;
  fill: white;
}

.button-header {
  width: 131px;
  height: 81px;
  margin-top: 45px;
}
