$footer-height: 140px;
$header-height: 150px;
$main-pic-width: 976px;

$general-background-color: #f7f7f7;
$buttons-color: #FF6300;
$writing-color: #484855;
$background-color: #006699;
$headline-color: #006699;
$warning-color: #ff6300;
$hint-color: #006699;
$warning-background-color: rgba(#ff6300,0.2);

$white-color: #ffffff;
