<app-header></app-header>
<div class="main-container">
  <div class="middle-container">
    <div class="container">
      <div class="row">
        <div class="stepper">
          STEPPER
        </div>
      </div>
      <div class="row" dir="rtl">
        <div class=" inner-row ">
          <div class="data-disclaimer">
            <div class="data-disclaimer_headline">
              <p> פרטי המבוטח</p>
            </div>
            <div class="data-disclaimer_line">
              <p>
                חשוב לדעת, כל השאלות מתייחסות למבוטח. זה שעבורו מוגשת תביעת הסיעוד.
              </p>
            </div>
            <div class="data-disclaimer_warning">
              <p>
                <mat-icon>info_outline</mat-icon>&nbsp; כל השדות בבקשת התביעה הינם שדות חובה.
              </p>
            </div>
          </div>

        </div>
      </div>
      <div class="row" dir="rtl">
        <div class="inner-row">
          <form [formGroup]="form">
            <div formGroupName="basicInfo"  class="basic-info required">
              <mat-form-field>
                <mat-label class="mat-label">שם פרטי</mat-label>
                <input
                  #firstName
                  matInput
                  required
                  type="text"
                  (focus)="onFocus($event)"
                  placeholder="שם פרטי"
                  formControlName="firstName">
                <mat-error
                  class="error"
                  *ngIf="requiredForm('basicInfo','firstName')">
                  יש לעדכן שם פרטי
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label class="mat-label">שם משפחה</mat-label>
                <input
                  #lastName
                  matInput
                  required
                  type="text"
                  (focus)="onFocus($event)"
                  placeholder="שם משפחה"
                  formControlName="lastName">
                <mat-error *ngIf="requiredForm('basicInfo','lastName')">
                  יש לעדכן שם משפחה
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label class="mat-label">מספר תעודת זהות</mat-label>
                <input
                  #idNumber
                  matInput
                  required
                  type="text"
                  maxlength="9"
                  minlength="9"
                  (focus)="onFocus($event)"
                  placeholder="מספר תעודת זהות"
                  formControlName="idNumber">
                <mat-hint>
                  כולל ספרת ביקורת. סך הכל 9 ספרות
                </mat-hint>
                <mat-hint align="end">
                  {{idNumber.value?.length || 0 }} / 9
                </mat-hint>
                <mat-error *ngIf="requiredForm('basicInfo','idNumber')">
                  יש לעדכן תעודת זהות כולל ספרת ביקורת
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label class="mat-label">קופ"ח מכבי</mat-label>
                <input
                  #hmo
                  matInput
                  required
                  type="text"
                  (focus)="onFocus($event)"
                  placeholder="קופת חולים מכבי"
                  formControlName="hmo">
              </mat-form-field>
              <div class="date-forms">
                <div class="date-headline">
                  תאריך לידה:
                </div>
                <div class="date-item">
                  <mat-form-field>
                    <mat-label>שנה</mat-label>
                    <label>
                      <input
                        #idNumber
                        matInput
                        required
                        type="number"
                        maxlength="4"
                        minlength="4"
                        (focus)="onFocus($event)"
                        formControlName="yearNumber">
                    </label>
                    <mat-placeholder class="date-placeholder">
                      שנה
                    </mat-placeholder>
                    <mat-error *ngIf="requiredForm('basicInfo','yearNumber')">
                      יש לעדכן שנה
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="date-item">
                  <mat-form-field>
                    <mat-label>חודש</mat-label>
                    <input
                      #idNumber
                      matInput
                      required
                      type="number"
                      maxlength="2"
                      minlength="1"
                      (focus)="onFocus($event)"
                      placeholder="חודש"
                      formControlName="monthNumber">
                    <mat-error *ngIf="requiredForm('basicInfo','monthNumber')">
                      יש לעדכן חודש
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="date-item">
                  <mat-form-field>
                    <mat-label>יום</mat-label>
                    <input
                      #idNumber
                      matInput
                      required
                      type="number"
                      maxlength="2"
                      minlength="1"
                      (focus)="onFocus($event)"
                      placeholder="יום"
                      formControlName="dayNumber">
                    <mat-error *ngIf="requiredForm('basicInfo','dayNumber')">
                      יש לעדכן יום
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div  class="row" dir="rtl">
      <!--div *ngIf="contactData" class="row" dir="rtl"-->
        <div class=" inner-row">
          <div class="data-disclaimer">
            <div class="data-disclaimer_headline__second">
              <p> פרטי איש קשר</p>
            </div>
            <div class="data-disclaimer_line">
              <p>מידע בנוגע לאיש הקשר</p>
            </div>
            <div class="data-disclaimer_line">
              <p class="black_text">איש קשר לתביעה</p>
            </div>
          </div>
        </div>
        <div class="inner-row">
          <mat-button-toggle-group #group="matButtonToggleGroup">
            <mat-button-toggle
              id="personal-data-client"
              class="client-button-radio"
              [checked]="isClientChecked"
              (change)="selectedClient($event)"
              (click)="selectedClient($event)"
              value="client"
            >
              <div class="button-header">
               מבוטח
              </div>
            </mat-button-toggle>
            <mat-button-toggle
              class="contact-button-radio personal-data-contact"
              [checked]="isContactChecked"
              (change)="selectedClient($event)"
              value="contact">
              <div class="button-header">
                איש קשר
              </div>
            </mat-button-toggle>
          </mat-button-toggle-group>
          <p class="blue">אם המבוטח קטין, נדרש איש קשר</p>
        </div>
        <div class="inner-row">
          <form [formGroup]="form" (ngSubmit)="saveClient()" class="client-data">
            <div formGroupName="contactInfo" class="basic-info required">
              <mat-form-field>
                <mat-label class="mat-label">שם פרטי</mat-label>
                <input
                  #contactFirstName
                  matInput
                  required
                  type="text"
                  (focus)="onFocus($event)"
                  placeholder="שם פרטי"
                  formControlName="contactFirstName">
                <mat-error
                  class="error"
                  *ngIf="requiredForm('contactInfo','contactFirstName')">
                  יש לעדכן שם פרטי
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label  class="mat-label">שם משפחה</mat-label>
                <input
                  #contactLastName
                  matInput
                  required
                  type="text"
                  (focus)="onFocus($event)"
                  placeholder="שם משפחה"
                  formControlName="contactLastName">
                <mat-error
                  class="error"
                  *ngIf="requiredForm('contactInfo','contactLastName')">
                  יש לעדכן שם משפחה
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label class="mat-label">מספר תעודת זהות</mat-label>
                <input
                  #contactIdNumber
                  matInput
                  required
                  type="text"
                  maxlength="9"
                  minlength="9"
                  (focus)="onFocus($event)"
                  placeholder="מספר תעודת זהות"
                  formControlName="contactIdNumber">
                <mat-hint>
                  כולל ספרת ביקורת. סך הכל 9 ספרות
                </mat-hint>
                <mat-hint align="end">
                  {{idNumber.value?.length || 0 }} / 9
                </mat-hint>
                <mat-error *ngIf="requiredForm('contactInfo','contactIdNumber')">
                  יש לעדכן תעודת זהות כולל ספרת ביקורת
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label class="mat-label">טלפון סלולארי</mat-label>
                <input
                  #contactCellPhone
                  matInput
                  required
                  type="tel"
                  maxlength="10"
                  minlength="10"
                  (focus)="onFocus($event)"
                  placeholder="טלפון נייד"
                  formControlName="contactCellPhone">
                <mat-hint>
                  מס' סלולארי בן 10 ספרות
                </mat-hint>
                <mat-hint align="end">
                  {{contactCellPhone.value?.length || 0 }} / 10
                </mat-hint>
                <mat-error *ngIf="requiredForm('contactInfo','contactCellPhone')">
                  יש לעדכן מספר סלולארי מלא בן 10 ספרות
                </mat-error>
              </mat-form-field>
            </div>
          </form>
        </div>
      </div>
      <div *ngIf="contactData" class="row" dir="rtl">
        <div class=" inner-row ">
          <div class="data-disclaimer">
            <div class="data-disclaimer_line">
              <p class="black_text"> קרבה</p>
            </div>
          </div>
        </div>
        <div class="inner-row">
          <mat-button-toggle-group #group="matButtonToggleGroup">
            <mat-button-toggle
              id="personal-data-spouse"
              class="spouse-button-radio"
              [checked]="isSpouseChecked"
              (change)="selectedRelation($event)"
              value="spouse">
              <div class="button-header">
               בן זוג
              </div>
            </mat-button-toggle>
            <mat-button-toggle
              id="personal-data-kids"
              class="kids-button-radio"
              [checked]="isChildChecked"
              (change)="selectedRelation($event)"
              value="child">
              <div class="button-header">
                ילדים
              </div>
            </mat-button-toggle>
            <!---->
            <mat-button-toggle
              class="contact-button-radio personal-data-contact"
              [checked]="isContactRelatedChecked"
              (change)="selectedRelation($event)"
              value="contact">
              <div class="button-header">
                איש קשר
              </div>
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <div class="inner-row">
          <form [formGroup]="form" (ngSubmit)="saveClient()" class="client-data">
            <div formGroupName="contactInfo" class="basic-info required">
              <mat-form-field>
                <mat-label class="mat-label">סוג קרבה</mat-label>
                <input
                  #contactRelationType
                  matInput
                  required
                  type="text"
                  (focus)="onFocus($event)"
                  placeholder="סוג קרבה"
                  formControlName="contactRelationType"
                >
                <mat-error *ngIf="requiredForm('contactInfo','contactRelationType')">
                  יש לעדכן את סוג הקרבה
                </mat-error>
              </mat-form-field>
            </div>
          </form>
        </div>
      </div>
      <div style="margin-top: -26px;" *ngIf="contactData" class="row" dir="rtl">
        <div class=" inner-row ">
          <div class="data-disclaimer">
            <div class="data-disclaimer_line_title data-disclaimer_line ">
              <p class="black_text" style="text-align:center;">דסקליימר של המבוטח שהוא מאשר שזה איש הקשר מטעמו</p>
            </div>
            <div class="data-disclaimer_headline__second">
              <p>פרטי ההתקשרות</p>
            </div>
            <div class="data-disclaimer_line">
              <p>התכתובות בתביעה יהיו לאיש הקשר!</p>
            </div>
          </div>

        </div>
        <div class="inner-row">
          <span class="mirror-field">{{form.get('contactInfo.contactFirstName').value}}</span>
          <span style="margin-bottom:40px" class="mirror-field">{{form.get('contactInfo.contactLastName').value}}</span>
          <form [formGroup]="form" (ngSubmit)="saveClient()" class="client-data">
            <div formGroupName="contactInfo" class="basic-info required">
              <mat-form-field>
                <mat-label class="mat-label">דוא"ל</mat-label>
                <input
                  #contactEmail
                  matInput
                  required
                  type="email"
                  (focus)="onFocus($event)"
                  placeholder="דואר אלקטרוני"
                  formControlName="contactEmail"
                >
                <mat-hint>
                  דוגמא: fnx@gmail.com
                </mat-hint>
                <mat-error *ngIf="requiredForm('contactInfo','contactEmail')">
                  יש לעדכן דואר אלקטרוני
                </mat-error>
              </mat-form-field>
              <div class="setCheckBox">
                <mat-checkbox (change)="onChangeMail($event)" class="checkbox-mat"
                  [checked]="postOffice" >
                  קבלת תכתובות רק באמצעות הדואר
                </mat-checkbox>
              </div>
              <!--div *ngIf="postOffice"-->
                <div>
                <mat-form-field>
                  <mat-label class="mat-label">עיר</mat-label>
                  <mat-select #contactCity placeholder="עיר" [(value)]="contactCitySelected">
                    <mat-option *ngFor="let city of cities"
                                [value]="contactCitySelected"
                                (click)="selectCity(city)">
                      {{ city.name }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="requiredForm('contactInfo','contactCity')">
                    יש לעדכן את העיר
                  </mat-error>
                </mat-form-field>
                <mat-form-field>
                  <mat-label class="mat-label">רחוב</mat-label>
                  <mat-select #contactStreet placeholder="רחוב" [(value)]="contactStreetSelected">
                    <mat-option *ngFor="let street of streets"
                        [value]="contactStreetSelected"
                        (click)="selectStreet(street)">
                      {{ street.name }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="requiredForm('contactInfo','contactStreet')">
                    יש לעדכן את הרחוב
                  </mat-error>
                </mat-form-field>
                <div class="two-fields">
                  <div class="field-one">
                    <mat-form-field>
                  <mat-label class="mat-label">מספר בית</mat-label>
                  <input
                    #contactHouseNumber
                    matInput
                    required
                    type="text"
                    (focus)="onFocus($event)"
                    placeholder="מספר בית"
                    formControlName="contactHouseNumber"
                  >
                  <mat-error *ngIf="requiredForm('contactInfo','contactHouseNumber')">
                    יש לעדכן את מספר הבית
                  </mat-error>
                </mat-form-field>
                  </div>
                  <div class="field-two">
                    <mat-form-field>
                      <mat-label class="mat-label">מיקוד</mat-label>
                      <input
                        #contactZipCode
                        matInput
                        required
                        type="text"
                        (focus)="onFocus($event)"
                        placeholder="מיקוד"
                        formControlName="contactZipCode"
                      >
                      <mat-error *ngIf="requiredForm('contactInfo','contactZipCode')">
                        יש לעדכן את המיקוד
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div *ngIf="!rControl" class="row">
        <app-lower-navigation class="row"
           buttonData="לפרטי האירוע"
          (handleGoTo)="handleGoTo($event)"
        >
        </app-lower-navigation>
      </div>
      <div *ngIf="rControl" class="row">
        <div class="inner-row">
          <div class="nav-line">
            <button mat-button
                    class="go-to-page "
                    (click)="backToSummary()"
              >
              <span class="data-line">
                בחזרה לדף הסיכום
              </span>
            </button>
          </div>
        </div>
      </div>
    <app-footer></app-footer>
    </div>
  </div>
</div>