@import "../../../css-parts/vars";
@import "../../../css-parts/mat";

.client-data {
  direction: rtl;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}
.date-forms {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  color: $writing-color;
  margin-top: 20px;
  font-size: 1.2857142857142858rem;
  width: 100%;
  text-align: center !important;
  .date-headline {

  }
  .date-item {
    width: 20%;
  }
}
.mat-placeholder.date-placeholder{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

//client
#personal-data-client {
  background: url('../../../assets/symbols/client.png') no-repeat center center;
}
.mat-button-toggle-checked.client-button-radio#personal-data-client {
  background: url('../../../assets/symbols/client_pressed.png') no-repeat center center;
}
#personal-data-client:hover {
  background: url('../../../assets/symbols/client_pressed.png') no-repeat center center;
  background-color: $background-color !important;
  color: white !important;
}

//contact
.personal-data-contact {
  background: url('../../../assets/symbols/contact.png') no-repeat center center;
}
.mat-button-toggle-checked.contact-button-radio.personal-data-contact {
  background: url('../../../assets/symbols/contact_pressed.png') no-repeat center center;
}
.personal-data-contact:hover {
  background: url('../../../assets/symbols/contact_pressed.png') no-repeat center center;
  background-color: $background-color !important;
  color: white !important;
}
//kids
#personal-data-kids {
  background: url('../../../assets/symbols/kids.png') no-repeat center center;
}
.mat-button-toggle-checked.kids-button-radio#personal-data-kids {
  background: url('../../../assets/symbols/kids_pressed.png') no-repeat center center;
}
#personal-data-kids:hover {
  background: url('../../../assets/symbols/kids_pressed.png') no-repeat center center;
  background-color: $background-color !important;
  color: white !important;
}

//spouse
#personal-data-spouse {
  background: url('../../../assets/symbols/spouse.png') no-repeat center center;
}
.mat-button-toggle-checked.spouse-button-radio#personal-data-spouse {
  background: url('../../../assets/symbols/spouse_pressed.png') no-repeat center center;
}
#personal-data-spouse:hover {
  background: url('../../../assets/symbols/spouse_pressed.png') no-repeat center center;
  background-color: $background-color !important;
  color: white !important;
}