/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "./css-parts/_vars";
@import "./css-parts/_fonts-decleration";

html {
  margin: 0;
  padding: 0;
}

body {
  background-color: $general-background-color;
  height: 100%;
  font-size: 16px;
}
.routerClass {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
* {
  font-family: 'erica-regular', sans-serif;
}

.nextButton {
  border-radius: 20px !important;
  width: 152px;
  background-color: #FF6300;
  text-align: center;
  font-size: large;
  margin-left: 5px !important;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  order: 1;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 160px!important;
  width: 100vw;
  .middle-container {
    display: flex;
    justify-content: center;
    flex: 1;
    min-height: 0;
    width: 100%;
    .container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 43.125%; //39.0625%;
      height: auto;
    }
  }
}
.stepper {
  flex-direction: row;
  align-self: flex-end;
  width: 121px;
  height: 30px;
  margin-top: 20px;
  color: #fff;
  background-color: $background-color;
  //background-color: #FF6300;
  p {
    text-align: center;
    vertical-align: baseline;
    line-height: 0;
  }
}
.row {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
  width: 100%; //882px; //65.75963%;
  //border: 1px solid red;

}

.mat-form-field-underline {
  height: 2px;
}

.inner-row {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  //align-items: center;
  width: 65.575963%!important;
  //border: 0.5px solid blue;
  p {
    width: 100%;
    text-align: right;
  }
  .blue {
    color: #006699;
    font-size: 16px;
  }
}
.data-disclaimer {
  direction: rtl;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%!important;
  margin: 0;
  .data-disclaimer_headline {
    width: 100%;
    p {
      width: 100%;
      color: $headline-color;
      line-height: 30px;
      font-size: 2.25rem;
      margin: 0;
      .black_text {
        color: #484855;
        font-size: 18px;
      }
    }

  }
  .data-disclaimer_headline__second {
    width: 100%;
    p {
      width: 100%;
      color: $headline-color;
      line-height: 18px;
      font-size: 18px;
      margin: 0;

      .black_text {
        color: #484855;
        font-size: 18px;
      }
    }
  }
  .data-disclaimer_line {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    //align-self: flex-start;
    width: 100%!important;
    p {
      color: #7A7A7A;
      font-size: 16px;
      line-height: 18px;
      .black_text {
        color: #484855;
        font-size: 18px;
      }
    }

  }

  .data-disclaimer_warning {
    width: 100%;
    p {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      color: $warning-color;
      font-size: 18px;
      text-align: center;
      vertical-align: middle;
      line-height: 40px;
      background-color: $warning-background-color;
    }
  }
}
.two-fields {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mat-form-field {
  width: 100%;
  margin-bottom: 25px;
}
.mat-hint, .mat-right {
  font-size: .8rem !important;
  color: $writing-color !important;
}
.mat-checkbox {
  margin-left: 10px;
}

.inside-form {
  font-size: 1rem;
  font-weight: bold;
  color: $writing-color;
  width: 100%;
}
.setCheckBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 50px;
  .checkbox-mat {
    margin-top: 20px;
  }
}

.go-to-page {
  border: 2px solid $buttons-color;
  border-radius: 20px !important;
  height: 54px;
  width: 240px;
  color: $white-color;
  font-size: 22px;
  line-height: 23px;
  text-align: center;
  cursor: pointer;
  background-color: $buttons-color;
  margin-top: 50px;
}
.click-back {
  display: inline-flex;
  flex-direction: row;
  align-self: baseline;
  font-size: 22px;
  color: $buttons-color;
  font-weight: bold;
}
.get-back-header {
  height: 20px;
  align-self: center;
}
.command-line {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  width: 100%;
  &:hover {
    cursor: pointer;
  }
}
.btn1 {
  width: 50px!important;
  height: 50px!important;
  overflow: visible;
  &:hover {
    background-color: $background-color;
  }
}
.mat-button-toggle-group{
  align-self: flex-start!important;
}
.mat-button-toggle, .button-radio{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 131px!important;
  height: 81px!important;
  overflow: visible;
  &:hover  {
    background-color: $background-color !important;
    color: white !important;
  }
}

.mat-button-toggle, .contact-button-radio, .client-button-radio{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 131px!important;
  height: 81px!important;
  overflow: visible;
}
.contact-button-radio .mat-white {
  display: none;
}
.contact-button-radio:hover .mat-black {
  display: none;
}
.contact-button-radio:hover .mat-white {
  display: flex;
}
.contact-button-radio:focus .mat-white {
  display: flex;
}

.client-button-radio .mat-white {
  display: none;
}
.client-button-radio:hover .mat-black {
  display: none;
}
.client-button-radio:hover .mat-white {
  display: flex;
}
.client-button-radio .cdk-focused .mat-white {
  display: flex;
}

.mat-button-toggle-checked {
  background-color: $background-color !important;
  color: white !important;
  fill: white;
}

.mat-icon {
  width: 40px;
  height: 40px;
}
.button-header {
  width: 100%;
  height: 10px;
  margin-top: -20px;
}
@media only screen and (max-width: 1440px) {
  .main-container{
    .middle-container {
      .container {
        width: 75%;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .main-container{
    .middle-container{
      .container {
        width: 90%;
      }
    }
  }
  .inner-row {
    width: 80%!important;
  }
}
@media only screen and (max-width: 750px) {
  .main-container{
    .middle-container{
      .container {
        width: 95%;
      }
    }
  }
  .data-line {
    font-size: 0.8571428571428571rem;
  }
}

.mirror-field {
  width: 100%;
  color: gray;
  border-bottom: 1px solid dimgray;
  margin-bottom: 40px;
}

.nav-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
  .go-to-summary {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    width: 254px;
    .data-line {
      line-height: 24px;
      align-self: flex-end;
      width: 90%;
      color: #fff;
      text-align: right;
      font-size: large;
    }
    mat-icon {
      margin-top: -5px;
      color: #ffffff;
    }
  }
}